<section class="comments">
    {{#each this}}
    <article class="card-body">
        <article>
            <p class="card-header">{{comment_text}}</p>
            <p class="card-text">by {{user.username}} on {{format_date created_at}}</p>
        </article>
    </article>
    {{/each}}
</section>