<a href="/dashboard/edit/{{id}}">
    <article class="dashboard-button">
        <h4>{{title}} <span class="subtext no-display">Edit post</span></h4>
    </article>
</a>
    <div>
        <p class="dash-post-text">{{content}}</p>
    </div>


<script src="/../../js/dashboard.js"></script>