<a href="/dashboard/edit/{{id}}">
    <article class="btn dashboard-button">
        <h4>{{title}} <span class="subtext no-display">Edit post</span></h4>
    </article>
</a>

<script src="/../../js/dashboard.js"></script>