<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="bg-light">
    <header>
        <h1>Cool Tech Blog</h1>
        <nav>
            <a class="btn btn-secondary" href="/" role="button">Home</a>
            {{#if loggedIn}}
            <a class="btn btn-secondary" href="/dashboard" role="button">Dashboard</a>
            <a href="/" id="logout" class="btn btn-secondary">Logout</a>
            {{else}}
            <a class="btn btn-secondary" href="/login" role="button">Login</a>
            {{/if}}
        </nav>
    </header>

    <main class="col-10 mx-auto">
        {{{body}}}
    </main>
    <footer>
        <p>© Created by <a href="https://github.com/butsnieva">Kateryna B.</a></p>
    </footer>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>