<section>
    <h3>Add a new post</h3>
    <form class="form post-form">
        <div class="from-group">
            <textarea id="post-title" type="text" name="post-title" placeholder="Title" rows="1" cols="50"></textarea>
        </div>
        <div class="from-group">
            <textarea id="post-content" type="text" name="post-content" placeholder="Post Content" rows="8" cols="50"></textarea>
        </div>
        <div class="error-message"></div>
        <div class="form-group">
            <button class="button" id="post-button" type="submit">Add Post</button>
        </div>
    </form>
</section>

<script src="/../js/add-new-post.js"></script>
