<p class="separator" id="welcome-text">Welcome, {{username}}.</p>

<a href="/dashboard/new">
    <button type="submit" class="btn" id="add-post-btn">Add New Post</button>
</a>

{{#if posts.length}}
<section class="section-header separator">
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
    {{> dashboard-post-entry post}}
    {{/each}}
</section>
{{/if}}