<div class="card mb-3">
    {{> post-details post}}
    <div class="card-body">
        {{#if loggedIn}}
        <section class="comment-card mb-3">
            <form class="comment-form">
                <label class="form-label" for="comment">Add a comment:</label><br>
                <textarea class="form-control mb-1" id="comment" name="comment" type="text" placeholder="Enter comment"></textarea>
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </section>
        {{/if}}


        {{> comments post.comments}}

        {{#if loggedIn}}
        <script src="./js/comment.js"></script>
        {{/if}}
    </div>
</div>