{{> post-details post}}

{{#if loggedIn}}
<section>
    <form>
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment" placeholder="Enter comment"></textarea>>
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
</section>
{{/if}}

<h2>Comments</h2>