{{> post-details post}}

{{#if loggedIn}}
<section class="comment-card">
    <form class="comment-form">
        <label for="comment">Add a comment:</label><br>
        <textarea id="comment" name="comment" placeholder="Enter comment"></textarea>
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
</section>
{{/if}}




{{> comments post.comments}}

{{#if loggedIn}}
<script src="./js/comment.js"></script>
{{/if}}