<div class="container" id="login-form">
    <form class="px-4 py-3">
        <div class="mb-3">
            <label for="username-login" class="form-label">Username</label>
            <input type="username" class="form-control" id="username-login" placeholder="Enter your username">
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-secondary">Sign in</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/signup">New around here? Sign up</a>
</div>


<script src="./js/login.js"></script>