<div class="container" id="signup-form">
    <form class="px-4 py-3">
        <div class="mb-3">
            <label for="username-signup" class="form-label">Username</label>
            <input type="username" class="form-control" id="username-signup" placeholder="Create your username">
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Create a password">
        </div>
        <button type="submit" class="btn btn-secondary">Sign up</button>
    </form>
</div>

<script src="./js/signup.js"></script>